html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}
body {
    background-image: url('../Media/background_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#header{
    position: absolute;
    top: 90px;
    left: 30px;
}

header a {
    text-decoration: none; 
    margin-right: 5px; 
    color: skyblue; 
    font-weight: bold; 
    font-size: 20px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

header a:hover {
    color: deeppink; 
}

#logo{
    width: 50px;
    margin-bottom: 140px;
    margin-right: 1300px;
    cursor: pointer;
}

#welcome{
    position: absolute;
    left: 180px;
    top: 63px;
}

#welcome h1{
    font-size: 70px;
    color: white; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.userData{
    bottom: 46px;
    left: 820px;
    opacity: 0.5;
    border-radius: 15px;
    background-color: white;
    padding: 2%;
    height: 385px;
    width: 260px;
    text-align: center;
    position: relative;
    z-index: 1;
    border-color: deeppink;
    border-width: 4px;
    border-style: inset;
    line-height: 1.4;

}
#date{
margin-bottom: 5px;
margin-top: 13px;
}

.area{
    margin-bottom: -11px;
    margin-top: -14px;
}
.scores{
    line-height: 1;

}

#message{
    font-size: 30px;
    margin-top: 4px;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: midnightblue;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2px;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: midnightblue;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;

}

.grid-container {
    display: grid;
    gap: 20px;
    margin-right: 370px;
    margin-bottom: 95px;
    justify-content: center;
    z-index:1 ;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 200px;
    margin-top: 10px;
    z-index:1 ;
}

.flex-item {
    width: 200px; 
    height: 160px; 
    border-radius: 2rem;
    box-sizing: border-box; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    z-index:1 ;
}

.flex-item img {
    width:100%;
    height: 100%; 
    border-radius: 2rem;
    transition: transform 0.2s; 
    object-fit: cover; 
    
}

.flex-item img:hover {
    transform: scale(1.1); 
}









